
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .0em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: .0rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 0rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: 0em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}


.index-avatar-me {
  margin: 0.5rem 0;
  padding: 0px 5px 0px 0px;
  height: 50px;
  border-radius: 50%;
}

.index-avatar {
  margin: 0.5rem 0;
  padding: 0px 5px 0px 0px;
  height: 65px;
  border-radius: 45%;
}

.index-avatar-long {
  margin: 0.5rem 0;
  padding: 0px 10px 0px 0px;
  height: 50px;
  border-radius: 0%;
}


.index-footer {
  @extend .italic;
  text-align: center;
}

.index-footer .avatar {
  width: 100px;
  border-radius: 50%;
}


